body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face{
  font-family:'VarelaRound' ;
  src: local("VarelaRound"), url(./assets/fonts/VarelaRound-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ks-card {
   margin: 20px;
}

.ks-card-image{
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow:1px 1px 1px 1px #ccc;
}

.ks-card{
  padding: 5%;
}
.ks-card-title{
  font-size: 24px;
  margin: 0px; 
  font-family: 'VarelaRound' !important;
}

.ks-card-info{
  padding:10px;
  min-height:100px;
  font-family: 'VarelaRound' !important;
}

.ks-card-sub-title{
  font-size:16px;
  margin:0px;
  font-family: 'VarelaRound' !important;
}

.ks-card-description{
  font-size:12px;
  margin:0px;
  font-family: 'VarelaRound' !important;
}
.success-msg{
  color: #5577aa;
  padding: 10px 15px;
  font-family: 'VarelaRound' !important;
}


.err-msg{
  color: #EE6352;
  padding: 10px 15px;
  font-family: 'VarelaRound' !important;
}

.sendButton{
  transition-duration: 0.4s !important;
  color: #edf5e1 !important;
  background-color:  #2E4C80 !important;
  text-decoration: none !important;
  font-family: "VarelaRound";
  font-size: larger;
}